soap/UDPReceiver/Service References/TempWebserviceCloud/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/soap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTemperatureLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemperatureLog" nillable="true" type="tns:TemperatureLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemperatureLog" nillable="true" type="tns:ArrayOfTemperatureLog" />
  <xs:complexType name="TemperatureLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemperatureLog" nillable="true" type="tns:TemperatureLog" />
</xs:schema>