soap/UDPReceiver/Service References/TempWebserviceCloud/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservice-fran-easj.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/soap" />
  <xs:element name="GetAllData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/soap" minOccurs="0" name="GetAllDataResult" nillable="true" type="q1:ArrayOfTemperatureLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/soap" minOccurs="0" name="data" nillable="true" type="q2:TemperatureLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromTimestamp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTimestamp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/soap" minOccurs="0" name="GetDataFromResult" nillable="true" type="q3:ArrayOfTemperatureLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>